kardia-app/tpl/*.tpl
kardia-db/*/components
kardia-db/*/wiki.txt
kardia-db/*/onetable.sql
kardia-thunderbird/kardia@lightsys.org/chrome/content/email-binding.xml
kardia-thunderbird/kardia@lightsys.org/chrome/content/.email-binding.xml.swp
kardia-thunderbird/kardia@lightsys.org/chrome/content/.main-overlay.js.swn
kardia-thunderbird/kardia@lightsys.org/chrome/content/.main-overlay.js.swo
kardia-thunderbird/kardia@lightsys.org/chrome/content/.main-overlay.js.swp
kardia-thunderbird/kardia@lightsys.org/chrome/content/message-overlay.xul
kardia-thunderbird/kardia@lightsys.org/chrome/content/.message-overlay.xul.swp
kardia-android/MissionaryAppAndroidStudio/.gradle/*
kardia-android/MissionaryAppAndroidStudio/.idea/*
kardia-android/MissionaryAppAndroidStudio/missionaryApp/build/*
kardia-android/MissionaryAppAndroidStudio/appcompat_v7_7/build/*
kardia-android/MissionaryAppAndroidStudio/build/*
kardia-android/MissionaryAppAndroidStudio/missionaryApp/src/main/java/org/lightsys/missionaryapp/.DS_Store
kardia-android/**/*.iml
kardia-android/**/local.properties
kardia-android/**/.gradle
kardia-android/**/build
kardia-android/**/.idea
kardia-android/*/*.iml
kardia-thunderbird/kardia@lightsys.org/excludelist.txt
kardia-thunderbird/kardia@lightsys.org/chrome/content/makefile.bat
