[Unit]
After=network-online.target
Description=Kardia VM startup scripts

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/kardia.sh doOnBoot

[Install]
WantedBy=multi-user.target
